[Unit]
Description=Splash screen
After=network.target

[Service]
ExecStart=/home/max/CNCSoftware/OSCompile.sh
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target

