[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=g++ /home/max/CNCSoftware/include/*.cpp -o /home/max/GraffOS -lwiringPi -std=c++20
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target

